#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10) ;
  filter: alpha(opacity=10) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Label__2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Label_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-checkbox-on-light_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-checkbox-on-light_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-checkbox-on-light_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-checkbox-on-light_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-checkbox-on-light_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}