#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  filter: alpha(opacity=10);
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Rectangle_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #577E7A;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #577E7A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #577E7A;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #577E7A;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Label__2 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Rectangle_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-checkbox-on-light_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-checkbox-on-light_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-checkbox-on-light_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-checkbox-on-light_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-checkbox-on-light_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1522da3a-bb07-421b-b3f4-6e583979dd71 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}