#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=5);
  filter: alpha(opacity=5);
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Line_6 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Line_6 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Table_1 {
  border-collapse: separate;
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_75 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_155 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_82 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_156 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_83 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_157 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_84 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_158 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_85 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_159 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_160 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_88 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_161 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_89 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_90 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_162 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_40 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_163 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_93 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_94 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_164 {
  -ms-transform: rotate(0.0deg);
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-23e84970-aaa2-49b2-a653-64cb60057a1c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}