#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=5);
  filter: alpha(opacity=5);
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Line_6 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Line_6 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 198px;
  height: 34px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}