#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=5) ;
  filter: alpha(opacity=5) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3e885786-21d5-47dc-8dd4-7b7ab2f55d34 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}