#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Horizontal-softkeys {
  position: absolute;
  top: 590px;
  left: 0px;
  width: 360px;
  height: 50px;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Rectangle_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 50px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Rectangle_19 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Image_8 {
  position: absolute;
  top: 9px;
  left: 263px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Image_23 {
  position: absolute;
  top: 9px;
  left: 161px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Image_24 {
  position: absolute;
  top: 9px;
  left: 63px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Statusbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Panel_4 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Icons_5 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Label_30 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Image_1 {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 360px;
  height: 191px;
  opacity: 0.5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Image_2 {
  position: absolute;
  top: 209px;
  left: 0px;
  width: 360px;
  height: 191px;
  opacity: 0.5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Image_3 {
  position: absolute;
  top: 399px;
  left: 0px;
  width: 360px;
  height: 191px;
  opacity: 0.5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Text_1 {
  position: absolute;
  top: 97px;
  left: 60px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 20.0pt;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Text_2 {
  position: absolute;
  top: 287px;
  left: 60px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 20.0pt;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Text_3 {
  position: absolute;
  top: 477px;
  left: 60px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 20.0pt;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Image_18 > svg {
  width: 24px;
  height: 24px;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Image_18 {
  position: absolute;
  top: 103px;
  left: 20px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Image_4 > svg {
  width: 22px;
  height: 22px;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Image_4 {
  position: absolute;
  top: 294px;
  left: 21px;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Image_5 > svg {
  width: 24px;
  height: 24px;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Image_5 {
  position: absolute;
  top: 483px;
  left: 20px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Line_1 {
  position: absolute;
  top: 209px;
  left: 0px;
  width: 360px;
  height: 4px;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 #s-Line_2 {
  position: absolute;
  top: 398px;
  left: 0px;
  width: 360px;
  height: 4px;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4d07fa8e-484a-4afb-8878-387ae93d5f47 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}