#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=5);
  filter: alpha(opacity=5);
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Line_6 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Line_6 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Category_1-options {
  background-color: transparent;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Table_1 {
  border-collapse: separate;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_82 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_83 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_84 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_85 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_88 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_89 {
  -ms-transform: rotate(0.0deg);
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_90 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}