#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=5) ;
  filter: alpha(opacity=5) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c #s-Image_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b090b0f0-7ba9-44f4-adad-d3806ce8c38c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}