#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Rectangle_1 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Image_96 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Image_103 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Image_70 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cba66832-27a6-4127-b70c-53e5385f76e9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}