#s-dcae204b-fb70-4e65-92f4-105031f74115 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10) ;
  filter: alpha(opacity=10) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dcae204b-fb70-4e65-92f4-105031f74115 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dcae204b-fb70-4e65-92f4-105031f74115 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dcae204b-fb70-4e65-92f4-105031f74115 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dcae204b-fb70-4e65-92f4-105031f74115 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dcae204b-fb70-4e65-92f4-105031f74115 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dcae204b-fb70-4e65-92f4-105031f74115 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dcae204b-fb70-4e65-92f4-105031f74115 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dcae204b-fb70-4e65-92f4-105031f74115 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dcae204b-fb70-4e65-92f4-105031f74115 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dcae204b-fb70-4e65-92f4-105031f74115 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dcae204b-fb70-4e65-92f4-105031f74115 #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dcae204b-fb70-4e65-92f4-105031f74115 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dcae204b-fb70-4e65-92f4-105031f74115 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dcae204b-fb70-4e65-92f4-105031f74115 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dcae204b-fb70-4e65-92f4-105031f74115 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dcae204b-fb70-4e65-92f4-105031f74115 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-dcae204b-fb70-4e65-92f4-105031f74115 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}